/* #users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{
 border:solid
} */
*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
#ad{

}
.narbar{
   height: 100px; 
   padding-left: 20%;
   font-size: 15px;
   color: aliceblue;
}

#vab{
    color: aliceblue;
   
  
}
.done{
    text-align: center;
}
.paragraph{
    margin-top: 5%;
}
.headings{
    padding-top: 5%;
    padding-left: 2%;
    color: aliceblue;
}
.landpage{
    background-image: linear-gradient(rgb(33, 77, 189), rgb(158, 17, 174));
}
.phone{
    margin-left: 10%;
}
ion-icon{
    margin-top: 50%;
    margin-bottom: 10%;
    text-align: center;

}
.gin{
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    
    
    
}
.offer{
    font-weight: lighter;
    font-size: 25px;
}
.min{
    background-color: black;
    color: yellow;
}

.music{
    margin-top: 5%;
    border: 2px solid rgb(93, 88, 88,0.5);
  justify-content: space-around;
  margin-left: 5%;
  border-radius: 20px;
   
}
#product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 
    margin-left: 10%;

}
#product img{
height: 250px;
width: 250px;
margin-top: 10%;
border-radius: 20px;
}
#product h2{
    font-size: 20px;
    text-align: center;
}
#ad{
    color: yellow;
    
}
#brand{
    color: aliceblue;
    font-size: 30px;
}
.game{
    background-image: linear-gradient(rgb(33, 77, 189), rgb(158, 17, 174));
    margin-top: 10%;
    margin-bottom:5% ;

  
    
}
.next{
    padding-top: 5%;
    padding-left: 5%;
    color: aliceblue;

}
.off{
    color: yellow;
}
.images img{
    margin-bottom: 10%;
    height: 400px;
    background-color: rgb(208, 195, 195);
    border-radius: 20px;

}
 .btnProduct{
    background-color: yellow;
    padding: 10px;
    border: none;
    float: right;
    margin-right: 15%;
 }
.endpage{
    background-color: rgb(35, 33, 33);
    color: aliceblue;
    padding-top: 5%;
}
.footer{
    margin-left: 3%;
   
}

.footer ul{

list-style: none;   
}
#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.people{
    border: solid rgb(208, 195, 195);
    border-radius: 5px;
    margin-bottom: 20;
    text-align: center;
}
.user-lists{
    text-align: center;
}
.new-user{
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 18px;
    margin: 2% 0;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}